* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: unset;
}

#root {
  display: grid;
  height: 100vmin;
  place-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  height: 150px;
  width: 100px;
  transition: transform 500ms ease;
}

.flipped {
  transform: perspective(25rem) rotateY(180deg);
}

.face {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.front {
  transform: rotateY(180deg);
  display: grid;
  background: #0f0;
  place-items: center;
}

.back {
  background: #f00;
}
