:root {
  font-size: 0.9375rem;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: unset;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  height: 100vmin;
  place-items: center;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  height: 10rem;
  transition: transform 500ms ease-out;
  aspect-ratio: 2/3;

  .face {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 1rem;
    inset: 0;

    &.front {
      transform: rotateY(180deg);
      background-color: #0f0;
    }

    &.back {
      background-color: #f00;
    }
  }

  &.toward {
    transform: perspective(50rem) rotateY(180deg);
  }
}
